@import "tailwindcss";

body {
  max-width: 118rem;
  margin: 0 auto;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../src/assets/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Veneer";
  src: url("../src/assets/fonts/veneer/Fontspring-DEMO-Veneer.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* FONT FAMILIES */
  --font-veneer: "Veneer", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
}
